ul.list-menu li:last-child a span {
    /* background: #7C6723; */
    background: linear-gradient(170deg, rgba(254, 217, 81, 1) 11%, rgba(255, 70, 199, 1) 81%);
    color: #fff;
    padding: 3px 18px 5px;
    border-radius: 10rem;
    position: relative;
    top: -3px;
    font-weight: bold;
}

ul.list-menu li:last-child a span::before {
    content: "＼ 5分で完了 ／";
    color: #7C6723;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    top: -16px;
}
