.fixed-image-media {
  text-align: center;
}

.fixed-image-media img {
  width: 100%;
  height: auto;
  object-fit: contain;
  backface-visibility: hidden;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  top: 10px;
}

.fixed-image {
  position: relative;
  overflow: hidden;
}

.fixed-image.has-diagonal-background {
  padding-bottom: calc(10vw + 10px);  /* 三角形の高さを指定 */
}

.fixed-image.has-diagonal-background::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vw solid rgb(var(--color-background));  /* 三角を白にする */
  border-left: 100vw solid transparent;
}

.fixed-image.has-diagonal-background > div{
  margin-bottom: -5vw;
}

@media screen and (max-width: 749px) {
  .fixed-image-media img.pc {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .fixed-image-media img.sp {
    display: none;
  }
}
