.fixed-image-media img {
  width: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-width: 749px) {
  .fixed-image-media img.pc {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .fixed-image-media img.sp {
    display: none;
  }
}