.application-form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.application-form h2 {
    font-size: 2rem;
    margin: 8rem 0 4rem;
}

.application-form h2.app__heading {
    border: 1px solid #ccc;
    border-radius: 10rem;
    display: inline-block;
    padding: .5rem 2rem .7rem;
    margin: 6rem 0 2rem;
    line-height: 1;
}

.application-form h2.app__heading.top {
    margin-top: 10rem;
}

@media screen and (max-width: 749px) {
    .application-form h2.app__heading.top {
        margin-top: 6rem;
    }
}

.application-form span.swipe-comment {
    font-size: 1.2rem;
    color: #9b8d08;
    display: block;
    margin: 0;
}

.application-form ul.basic-plan-options,
.application-form ul.data-plan-options,
.application-form ul.insurance-option-options,
.application-form ul.delivery-option-options {
    padding: 10px 0 20px;
}

.application-form ul li label {
    padding: 2.5rem;
    display: block;
}

.application-form .submit-button {
    margin-top: 5rem;
}

.application-form ul li label:hover {
    cursor: pointer;
}

.application-form ul li label img {
    margin: 0 auto 1rem;
    border: 1rem solid #f5f5f5;
}

.application-form ul li label h3.title {
    font-size: 2.1rem;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0rem 0rem 1.4rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: rgba(255, 228, 0, 0.3);
    text-underline-offset: -0.15em;
    text-decoration-skip-ink: none;
}

.application-form ul li label h3.data-vol {
    font-size: 3.8rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    margin: 0 0 0.5rem;
    /* border-bottom: 3px solid #eee; */
}

.application-form ul li label h3.data-vol small {
    font-size: 1.8rem;
    font-weight: 100;
    margin-left: 3px;
}

.application-form ul li label h3.price {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 1.8rem;
    border-bottom: solid 1px #eee;
    padding-bottom: 0.7rem;
}

.application-form ul li label h3.price span.monthly {
    display: block;
    background: #eee;
    line-height: 1;
    padding: 0.5rem 0.5rem 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 20rem;
    margin: .4rem 0;
}

.application-form ul li label h3.price small {
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 3px;
    vertical-align: baseline;
}

.application-form ul li label h3.price small.tax-inc-price {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1rem;
    color: #666;
    display: block;
}

.application-form ul li label p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 0;
}

.application-form ul li.application-form__item {
    list-style: none;
    border-radius: 1.5rem;
    min-height: 100px;
    box-shadow: 0 3px 15px #f1f1f1;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid transparent; /* デフォルトでは透明なボーダー */
    transition: border-color 0.15s ease-in-out; /* ボーダーの色の変化にアニメーションを追加 */
}

.application-form ul li.selected-item {
    border-color: var(--selected-border-color); /* 選択されたときにボーダーの色を変更 */
}

.application-form input[type="radio"] {
    display: none;
}

.application-form ul li.selected-item {
    position: relative;
    overflow: hidden;
    border-color: var(--selected-border-color); /* 選択されたときにボーダーの色を変更 */
}


@media screen and (min-width: 750px) {
    .data-plan-options .grid__item {
        width: calc(20% - var(--grid-desktop-horizontal-spacing)* 4 / 5);
        max-width: calc(40% - var(--grid-desktop-horizontal-spacing) / 5);
    }
}

@media screen and (max-width: 749px) {
    .grid--1-col-tablet-down .data-plan-options .grid__item {
        width: 100%;
        max-width: 100%;
    }
}

.application-form .order-quantity {
    margin-bottom: 6rem;
}

.application-form .order-quantity ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding-inline-start: 0px;
}

.application-form .order-quantity li {
    list-style: none;
    display: table-cell;
}

.application-form .rte {
    color: #555;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    height: 200px;
    overflow-y: scroll;
    padding: 6px 2rem;
    margin: 0 auto 1rem;
    text-align: left;
}

.application-form .rte h2 {
    font-size: 1.8rem;
    margin: 2rem 0 1rem;
    font-weight: bold;
}

label.terms-agree, label.pre-check-agree {
    font-weight: bold;
}

/* モーダル */
.application-form .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.application-form .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 42rem;
    max-width: 90%;
}

.application-form #insuranceDetailModal .modal-content {
    width: 50rem;
    max-width: 95%;
}

.application-form #insuranceDetailModal .modal-content {
    text-align: left;
}

.application-form #insuranceDetailModal h2 {
    font-size: 2rem;
    margin: .2rem 0 1.2rem;
    font-weight: bold;
    text-align: center;
}

.application-form .insurance-option-content {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4;
}

.application-form .insurance-option-content p.insurance-option-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 .5rem;
}

.application-form .insurance-option-content p.insurance-option-caution {
    color: #9b8d08;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 .5rem;
}

.application-form #insuranceDetailModal ul {
    margin: .5rem 0;
}

.application-form #insuranceDetailModal small {
    line-height: 1.3;
    display: inline-block;
    margin: .2rem 0 .7rem;
    color: #999;
}

#insuranceChangeModal img {
    width: 100%;
}

#insuranceChangeModal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: 1;
    padding: 0;
    margin: 0;
}

#insuranceChangeModal .close:hover,
#insuranceChangeModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 749px) {
    .data-plan-options.grid--peek .grid__item {
            min-width: 60%;
        }
    .application-form .rte {
        width: 100%;
    }

    .application-form .rte h2 {
        font-size: 1.8rem;
        margin: 2rem 0 1rem;
        font-weight: bold;
    }
}