{{ 'section-fixed-image.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign full_width = '100vw',
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}

<div id="Banner-{{ section.id }}" class="banner">

  {%- if section.settings.image != blank -%}
    <div class="banner__media media">
      {%- liquid
        if section.settings.wide_type
          assign sizes = '100vw'
        else
          assign sizes = '50vw'
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          sizes: sizes,
          widths: widths,
      }}
    </div>
  {%- endif -%}
  
</div>

{% schema %}
{
  "name": "t:sections.fixed-image.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.fixed-image.settings.image.label",
      "info": "t:sections.fixed-image.settings.image.info"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.fixed-image.settings.image_mobile.label",
      "info": "t:sections.fixed-image.settings.image_mobile.info"
    },
    {
      "type": "checkbox",
      "id": "wide_type",
      "default": false,
      "label": "t:sections.fixed-image.settings.wide_type.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.fixed-image.presets.name"
    }
  ]
}
{% endschema %}
