{{ 'section-fixed-image.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}

<div id="Fixed-image-{{ section.id }}" class="fixed-image">

  {%- if section.settings.image != blank -%}
    <div class="{% if section.settings.wide_type == false %}page-width {% endif %}fixed-image-media scroll-trigger animate--slide-in">
      {%- liquid
          assign sizes = '100vw'
      -%}
      {{
        section.settings.image
        | image_url: width: 3000
        | image_tag:
          width: section.settings.image.width,
          sizes: sizes,
          widths: widths,
          class: "pc"
      }}
      {{
        section.settings.image_mobile
        | image_url: width: 1100
        | image_tag:
          width: section.settings.image_mobile.width,
          sizes: sizes,
          widths: widths,
          class: "sp"
      }}
    </div>
  {%- endif -%}

</div>

{% schema %}
{
  "name": "t:sections.fixed-image.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.fixed-image.settings.image.label",
      "info": "t:sections.fixed-image.settings.image.info"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.fixed-image.settings.image_mobile.label",
      "info": "t:sections.fixed-image.settings.image_mobile.info"
    },
    {
      "type": "checkbox",
      "id": "wide_type",
      "default": false,
      "label": "t:sections.fixed-image.settings.wide_type.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.fixed-image.presets.name"
    }
  ]
}
{% endschema %}
